In [ ]:
import pandas as pd
import numpy as np

# Cria uma série a partir de um array com rótulos

In [ ]:
indice = [0, 1, 3]  # rotulos
valores = np.arange(3)

# Cria uma serie a partir de um array com rótulos
s = pd.Series(valores, index=indice)

print("Série original: \n", s)

# Ele gera uma nova ordem e incluí rotulos

In [ ]:
s_nan = s.reindex([4, 3, 2, 1, 0])
# Ao incluir o valor que nao existe ele incluir um NaN que é um floatpoint
# Ele gera uma nova ordem e inclui rotulos que nao estavam na ´serie original
print("Lista de index: \n", s_nan)

# Criando uma mascara boolean para tratar NaN

In [ ]:
# Criando uma mascara boolean para tratar NaN

s_mask_nan = pd.isna(s_nan)
s_nan[s_mask_nan] = -1

print("Valor com mascara \n", s_nan)

# Tratando NaN sem mascara

In [ ]:
s_fvalue = s.reindex([4, 3, 2, 1, 0], fill_value=-1)
print("fill_value \n", s_nan)

# Operações com series

In [ ]:
values_s1 = [3, 8, 0, 4, 5]

index_s1 = ['id: ' + str(i) for i in values_s1]

s1 = pd.Series(values_s1, index=index_s1)
print(s1)

In [ ]:
values_s2 = [3, 9, 8]

index_s2 = ['id' + str(i) for i in values_s2]

s2 = pd.Series(values_s2, index=index_s2)
print(s2)

# Ordenação dos elementos de uma série

In [ ]:
r = pd.Series(np.random.randint(0, 10, 4), index=['d', 'a', 'b', 'c'])
print(r)
# ordena pelos rótulos retornando uma nova série ordenada (a original não é modificado - faz cópia)
print(r.sort_index(ascending=True))

# ordena pelos valores retornando uma nova série modificada (o original é modificado)
print(r.sort_values(ascending=False))

# Rótulos repetidos

Séries podem possuir rótulos repetidos, facilitando a recuperação de partes

In [ ]:
# gerando uma série com valores de 0 e 6 senquenciais nao aleatórios
s = pd.Series(range(7), index=list('ababcda'))
print(s)

In [ ]:
print("Recuperando subserie de rótulos 'a'")
print(s['a'])  # recuperando a subserie de rótulos a
print(s['b'])  # recuperando a subserie de rótulos b

# Outros métodos

Métodos para operar sobre valores

In [ ]:
s = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

print("Valores únicos da série: \n", s.unique())
print("\nContagem do número de ocorrências de cada valor: \n", s.value_counts())

print("\nVerifica onde os valores ocorrem na série: \n", s.isin(['b', 'd']))

# DataFrames

Ele é comparado com excel porém tem outras possibilidades.

Em um dataframe tanto as linhas e colunas são indexadas por rótulos

In [ ]:
d = {'state': ['FL', 'FL', 'GA', 'GA', 'FL', 'FL'],
     'year': [2010, 2021, 2010, 2011, 2013, 2009],
     'pop': [18.8, 19.1, 9.7, 9.8, 7.1, 8.3]}

df_d = pd.DataFrame(d)

df_d.head(2)  # mostra os 2 primeiros

In [ ]:
df_d.dtypes  # mostra os types de dados

In [ ]:
dod = {'FL': {2010: 18.1, 2011: 19.1},
       'GA': {2008: 9.7, 2010: 9.8}}

df_dod = pd.DataFrame(dod)
print(df_dod)

In [ ]:
d = {'state': ['FL', 'FL', 'GA', 'GA', 'FL', 'FL'],
     'year': [2010, 2021, 2010, 2011, 2013, 2009],
     'pop': [18.8, 19.1, 9.7, 9.8, 7.1, 8.3]}

df_d = pd.DataFrame(d)
print(df_d)

In [ ]:
# imprime o nome das colunas
print("Rótulo das colunas: ", df_d.columns.values)
print(5*'-')
print('Coluna "pop": \n', df_d['pop'])
print(5*'-')
print('Coluna "pop": \n', df_d['year'])
print(5*'-')
print('Coluna "pop" e "year": \n', df_d[['pop', 'year']])

# DataFrame e expressões booleanas

O método quere permite recuperar elementos utilizando uma expressão booleana fornecida como uma string

In [ ]:
d = {'state': ['FL', 'FL', 'GA', 'GA', 'FL', 'FL'],
     'year': [2010, 2021, 2010, 2011, 2013, 2009],
     'pop': [18.8, 19.1, 9.7, 9.8, 7.1, 8.3]}

df_d = pd.DataFrame(d)
# recupera as linhas do DataFrame cujos elementos da coluna pop são maiores que 10
df_d.query('pop < 10')

In [ ]:
print("Utilando mais de uma comparação")
df_d.query('pop < 10 & state != "GA"')

# Criando e removendo colunas dataframe

utilizar drop ou del

In [ ]:
d = {'state': ['FL', 'FL', 'GA', 'GA', 'FL', 'FL'],
     'year': [2010, 2021, 2010, 2011, 2013, 2009],
     'pop': [18.8, 19.1, 9.7, 9.8, 7.1, 8.3]}

df_d = pd.DataFrame(d)
# shape eu pego o numero de linhas do dataframe
df_d['new_col'] = np.zeros((df_d.shape[0]))
df_d

In [ ]:
df_d.drop(['new_col'], axis=1)

# Manipulando e Acessando linhas

iloc e loc

In [ ]:
a = np.random.randint(0, 30, 35).reshape(7, 5)

rotulo_linhas = ['li' + str(i) for i in range(a.shape[0])]
rotulo_colunas = ['co' + str(i) for i in range(a.shape[1])]

df_a = pd.DataFrame(a, index=rotulo_linhas, columns=rotulo_colunas)
df_a

In [ ]:
print('Acessando linha de indice 2:')
df_a.iloc[2]

In [ ]:
print('Acessando linha de indice:')
df_a.iloc[2:4, 1:]

In [ ]:
print('Acessando a linha com rotulo "li2":')

df_a.loc[['li3']]

In [ ]:
print('Acessando a linha com rotulo "li1" , "li3" :')
df_a.loc[['li1', 'li3']]

In [ ]:
print('Acessando a linha entre rotulo "li1" , "li3" :')
print(df_a.loc['li1': 'li3', 'co3'])